.navbar {
  background-color: rgb(230, 158, 237);
  text: white;
  text-align: center;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.options {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1px;
}

/* Estilo para ajustar o tamanho das imagens */
.card img {
  width: 100%;
  /* Garante que a imagem ocupe toda a largura do contêiner */
  height: 200px;
  /* Define uma altura fixa */
  object-fit: cover;
  /* Ajusta a imagem para caber sem distorção */
  border-radius: 8px;
  /* Bordas arredondadas (opcional) */
}

/* Fonte padrão do site */
body {
  font-family: 'Roboto', sans-serif;
  color: #333; /* Cor de texto padrão */
  line-height: 1.6; /* Espaçamento entre linhas */
  background-color: #f9f9f9; /* Fundo suave */
  margin: 0;
  padding: 0;
}

/* Títulos */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #d849f1; /* Cor mais escura para contraste */
}

/* Parágrafos e texto geral */
p {
  font-size: 1rem; /* Tamanho confortável */
  color: #ffffff; /* Cinza suave */
}


