.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Mantém acima dos outros elementos */
  background-color: #E9F5DB;
  color: #333; /* Mantém um contraste agradável */
  text: white;
  text-align: center;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}


.options {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1px;
}

/* Estilo para ajustar o tamanho das imagens */
.card img {
  width: 100%;
  /* Garante que a imagem ocupe toda a largura do contêiner */
  height: 200px;
  /* Define uma altura fixa */
  object-fit: cover;
  /* Ajusta a imagem para caber sem distorção */
  border-radius: 8px;
  /* Bordas arredondadas (opcional) */
}

/* Fonte padrão do site */
body {
  background-color: #E9F5DB;
  color: #333333; /* Texto principal em cinza escuro */
}

h1, h2, h3 {
  color: #3A5A40; /* Títulos em verde escuro */
}

a {
  color: #E67E22; /* Links em laranja suave */
}

p {
  color: #705D4D; /* Texto secundário em marrom claro */
}
